<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        img{
            width: 50%;
        }

        .d{
            width: 90%;
            margin-top: 10%;
        }

        header{
            margin-bottom: 5%;
        }
    </style>
</head>

<body>

    <div class="container h">
        <!--header class="section-header text-center">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </header-->

        <div class="col-lg-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>


            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                cum soluta nobis est eligendi</p>
        </div>

        <div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum</p>
        </div>

        <div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat tarad limino ata</p>
        </div>

        <div class="col-lg-12 text-center"><img class="rounded mx-auto d-block" src="/nosotros/4.png" alt=""></div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Lorem ipsum, dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolore eum dolores explicabo. Consectetur dicta unde culpa omnis laboriosam recusandae labore quasi laborum illum tenetur, ipsa itaque rerum provident quibusdam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolore eum dolores explicabo. Consectetur dicta unde culpa omnis laboriosam recusandae labore quasi laborum illum tenetur, ipsa itaque rerum provident quibusdam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolore eum dolores explicabo. Consectetur dicta unde culpa omnis laboriosam recusandae labore quasi laborum illum tenetur, ipsa itaque rerum provident quibusdam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolore eum dolores explicabo. Consectetur dicta unde culpa omnis laboriosam recusandae labore quasi laborum illum tenetur, ipsa itaque rerum provident quibusdam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolore eum dolores explicabo. Consectetur dicta unde culpa omnis laboriosam recusandae labore quasi laborum illum tenetur, ipsa itaque rerum provident quibusdam?</p>
            </div>
            <div class="col-lg-6 text-center"><img class="d img-fluid" src="./about-extra-1.svg" alt=""></div>
        </div>
    </div>



</body>

</html>